<div class="sidenav">
  <a  href="#"><img class="sidebarImages mb-3" src="../../assets/All inboxes.png" /></a>
  <a  href="#"><img class="sidebarImages mb-3" src="../../assets/All inboxes.png" /></a>
  <a  href="#"><img class="sidebarImages mb-3" src="../../assets/All inboxes.png" /></a>
  <a  href="#"><img class="sidebar-footer mb-3" src="../../assets/Image.png" /></a>
  
  <!-- <a href="#"><img class="imageBottom mt-5" src="https://i.insider.com/56819d57e6183e263a8b5041?width=1065&format=jpeg" alt="..." class="img-thumbnail"></a> -->
  

</div>
<div class="main"> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#"><img class="headerIcons" src="../../assets/pencil.png"/></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img class="headerIcons" src="../../assets/forwardemail.png"/></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img class="headerIcons" src="../../assets/folder.png"/></a>         
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><img class="headerIcons" src="../../assets/delete.png"/></a>         
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" style="border-radius: 33px;" type="search" placeholder="Search" aria-label="Search">       
      </form>
    </div>
  </nav>
 <app-email></app-email>

</div>
